<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - TPXX - Apellido</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body>
        <nav>
    <ul>
        <li><a href='@Url.Action("Index")'>Inicio</a></li>
        <li><a href='@Url.Action("Inicio")'>Sala de escape</a></li>
        <li><a href='@Url.Action("Tutorial")'>Tutorial</a></li>
    </ul>
</nav>
        
        <div>
            @RenderBody()
        </div>

        <footer>
        <p>
                &copy; @DateTime.Now.Year - salasdescapezarekdante@hotmail.com
        </p>
        </footer>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
