@{
    ViewData["Title"] = "Index";
}

<nav>
    <ul>
        <li><a href='@Url.Action("Index")'>Inicio</a></li>
        <li><a href='@Url.Action("Inicio")'>Sala de escape</a></li>
        <li><a href='@Url.Action("Tutorial")'>Tutorial</a></li>
    </ul>
</nav>

<h1>Bienvenido a SALA DE ESCAPE: INFO</h1>

<p>Antes de jugar, vea el tutorial</p>
<a href='@Url.Action("Tutorial")'>Tutorial</a>
<p>Cuando hayas visto el tutorial...</p>
<a href='@Url.Action("Inicio")'>INICIAR SALA</a>